/* шапка */
.header {
    width: 1052px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 92px auto 0 auto;
}

.header__links__list {
    text-wrap: nowrap;
    display: flex;
    list-style: circle;
    padding-left: 26.52px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    color: rgb(0 0 0 1);
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    padding-right: 35px;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.header__link_no-bullit{
    color: rgb(0 0 0 1);
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    padding-right: 35px;
}

.header__logo {
    display: block;
    width: 148px;
    background-size: cover;
    background-position: center;
}

.header__logo-image {
    max-height: 105px;
}


address {
    display: block;
    justify-self:end;
    padding-right: 62px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 25.3px;
}

address a {
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}



/* секция "оно тебе надо" */

.cover {
    background: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 92px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    width: 1000px;
    height: 355px;
    margin: 165px 50px 135px 50px;
    z-index: 2;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 100px;
    letter-spacing: 30px;
}

.align-text__center {
    line-height: 115px;
    text-align: center;
}

.align-text__right {
    line-height: 115px;
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.letter-spacing-extended {
    letter-spacing:60px;
}

.cover__description {
    display: flex;
    padding-bottom: 51px;
    align-items: center;
    z-index: 2;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18.5px;
    padding-left: 80px;
}

.bet__button {
    width: 256px;
    height: 51px;
    margin-left: 77px;
    background: transparent;
    border-style: none;
    border: 1px solid white;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
}

.bet__button:hover {
    cursor: pointer;
}

/* Карточки */

.lots {
    width: 1052px;
    margin: 179px auto 0 auto;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 47px;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 27px;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 25px;
}

.lots__card-list-item {
    position: relative;
    flex-basis: 334px;
    flex-grow: 1;
}

.card-link {
    height: 100%;
    display: block;
    text-decoration: none;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(255, 255, 255, 1);
    padding: 51px 40px 48px 40px;
    position: relative;
    z-index: 2;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4.5px;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.lots__look-more-link {
    font-size: 20px;
    font-weight: 400;
    display: block;
    line-height: 23px;
    margin: 30px 0 0 40px;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4.5px;
}

/* Об аукционе */

.about {
    width: 1052px;
    margin: 181px auto 0 auto;
    padding-right: 5px;
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 8px 24px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: rgb(0, 0, 0, 1);
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo > img {
    width: 141.54px;
    height: 112.55px;
}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    align-self: center;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 16px;
    grid-column: 2/3;
}

.about :last-child {
    padding-bottom: 0;
}

/* ПОДВАЛ */

.footer {
        width: 1000px;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        color: rgb(0 0 0 1);
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin: 180px auto 88px auto;
}

.footer :first-child {
    justify-self: self-start;
}
.footer__menu-list {
    text-align: center;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.footer__menu-link_active {
    text-decoration: none;
    border-bottom: 0;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    column-gap: 48px;
    top: 0;
    right: 0;
    list-style: none;
}

.footer__social-link {
    display: block;
}

.footer__social-icon  {
    display: block;
    max-width: 48px;
    max-height: 48px;
}
